<mat-nav-list>
  <div class="profile-card" >
    <div class="header">
      <h2>Imie Nazwisko</h2>
      <h3>email@adress.pl</h3>
      <img src="https://image.shutterstock.com/image-photo/young-african-male-technician-examining-260nw-460673290.jpg" alt="">
    </div>
    <mat-divider></mat-divider>
  </div>

<h2 matSubheader> Employees</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees list</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees assigments</a>
<mat-divider></mat-divider>

<h2 matSubheader> Work orders</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Work orders list</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Work orders archive</a>

<mat-divider></mat-divider>

<h2 matSubheader> Documentation</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Locations</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Documentation</a>


<mat-divider></mat-divider>

<h2 matSubheader> Materials </h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Orders</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Warehouse</a>

<mat-divider></mat-divider>

<h2 matSubheader> Workflow</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Notepad</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Calendar</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Some fancy dashboard</a>
<mat-divider></mat-divider>
</mat-nav-list>
