<div class="profile-card">
  <div class="header">
    <h2>Imie Nazwisko</h2>
    <h3>email@adress.pl</h3>
    <img src="https://image.shutterstock.com/image-photo/young-african-male-technician-examining-260nw-460673290.jpg"
         alt="">
  </div>
  <mat-divider></mat-divider>
</div>

<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees-form">
    <mat-icon>account_circle</mat-icon>
    Employee Form</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees-list">
    <mat-icon>assignment</mat-icon>
    List of Employees</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers-form">
    <mat-icon> add_location</mat-icon>
    Customer Form</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers-list">
    <mat-icon>description</mat-icon>
    Customer List</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/joborder-form">
    <mat-icon>store</mat-icon>
    Job Orders Form</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/joborder-list">
    <mat-icon>store</mat-icon>
    Job Orders List</a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Workflow</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Notepad</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Calendar</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Some fancy dashboard</a>
  <mat-divider></mat-divider>
</mat-nav-list>


